* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #04ecf0, #be8406);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  font-size: 8vmin;
  font-weight: 600;
  color: #b0413e;
  background: #ffffc7;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transition: all 0.25s ease;
}

.box:hover {
  cursor: pointer;
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 0 1.5rem rgba(191, 150, 3, 0.232);
}

.box:active {
  transform: scale(0.95);
}

#reset-btn,
#new-btn {
  margin-top: 1rem;
  padding: 0.9rem 2.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  background: linear-gradient(135deg, #191913, #333);
  color: #fff;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

#reset-btn:hover,
#new-btn:hover {
  background: linear-gradient(135deg, #b0413e, #e85c5c);
  transform: scale(1.05);
}

#msg {
  color: #ffffc7;
  font-size: 5vmin;
  font-weight: 700;
  letter-spacing: 2px;
  animation: pop 0.6s ease-in-out;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
}

@keyframes pop {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.hide {
  display: none;
}
